<?xml version="1.0" encoding="UTF-8"?>
<config x="137" y="218" w="1009" h="1190" main-split="0.21440972" bottom-split="0.44096872" right-split="0.17476852">
	<breakpoints>
		<breakpoint post="\s*while\(chunk != null &amp;&amp; length &gt;= realLeng" enabled="false" operator="while-loop">
			<pre />
		</breakpoint>
		<breakpoint post="\s*/\*\* @return A string representation of the stream da" enabled="false" operator="method-declaration">
			<pre />
		</breakpoint>
		<breakpoint post="\s*public DefaultExpressoCompiler\(" enabled="false">
			<pre />
		</breakpoint>
		<breakpoint post="packa" enabled="true">
			<pre />
		</breakpoint>
	</breakpoints>
</config>
