<?xml version="1.0" encoding="UTF-8"?>
<config x="188" y="77" w="1009" h="1190" main-split="0.44010416" bottom-split="0.47729567" right-split="0.68874174">
	<breakpoints>
		<breakpoint post="\s*while\(chunk != null &amp;&amp; length &gt;= realLength" enabled="false" operator="while-loop" />
		<breakpoint post="\s*/\*\* @return A string representation of the stream data" enabled="true" operator="method-declaration" />
	</breakpoints>
</config>
